<div class="container">
  <h1 class="text-center" style="color:black">About</h1>
  <hr>
  <br>
  <p style="color:black; font-size: 20px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, repudiandae, omnis. Expedita, veritatis itaque minus nobis ut nemo, quasi unde molestias voluptate temporibus nihil nisi, voluptas, eum corporis totam voluptatum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos alias incidunt reprehenderit temporibus minima provident velit eaque, obcaecati nulla sint placeat, saepe possimus earum nisi ut quam fugiat. Optio, maiores.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptatem impedit alias illo fugit laudantium perferendis molestiae suscipit repellendus quod officiis, temporibus similique, debitis possimus ex voluptate aperiam, aliquam minus.
  </p>
</div>