<div>

    <div class="row">

        <div class="col-md-3">

            <app-menu-opciones (eventoOpcion)="reciviEvento($event)"></app-menu-opciones>

        </div>



        <div class="col-md-9">

            <h1 class="text-center" style="color:black">
                {{ opcionMenu | uppercase }}
                {{ keyPedido }}
            </h1>

            <div>
                 <!--Si click en Pedido-->
                <app-pedido *ngIf=" opcionMenu  == 'pedido' " ></app-pedido>
                    <!--Si click en Despacho-->
                <app-despacho *ngIf=" opcionMenu =='despacho'  "></app-despacho>
                    <!--Si click en Precios-->
                <app-precios *ngIf=" opcionMenu ==  'precio'  " ></app-precios>
                    <!--Si click en Cliente-->
                <app-cliente *ngIf=" opcionMenu == 'cliente' "></app-cliente>
                    <!--Si click en Produccion-->
                <app-produccion *ngIf=" opcionMenu == 'produccion' "></app-produccion>
                    <!--Si click en Almacen-->
                <app-almacen *ngIf=" opcionMenu == 'almacen' "></app-almacen>
                    <!--Si click en Cobros-->
                <app-cobro *ngIf=" opcionMenu == 'cobro' "></app-cobro>

            </div>


        </div>


    </div>
</div>