  <div class="container">
  


        <div class="row">

          <div class="col-md-12">


            <md-grid-list cols="3" rowHeight="1:1" *ngIf="listItems">

              <div *ngFor="let item of listItems">


                <md-grid-tile *ngIf="!item.borrado" >

                  <md-card class="example-card" style="border: 2 black solid">
                    <md-card-header>
                      <md-card-title style="padding-top: 15px;" > <h3 class="text-titulo-card"> {{ item.nombre | uppercase }} </h3></md-card-title>
                    </md-card-header>
                    <img md-card-image style="width: 298px; height: 140px;" [src]="item.imagen">
                    <md-card-content>
                      <h6>
                        Almacen Actual: {{ item.tipoAlmacen }}
                      </h6>
                      <h6>
                        Precio: {{ item.precio }} Bs/Unidad
                      </h6>
                      <p>
                        Cantidad Disponible: {{ item.cantidad }} Unidades.
                      </p>
                      <button md-button class="btn btn-outline-danger" data-toggle="modal" (click)="setDetalleKey(item.$key)" data-target="#detallePrecio">Deta</button>
                      <button md-button class="btn btn-outline-danger" data-toggle="modal" (click)="setEditKey(item.$key)" data-target="#editarPrecio">Edit</button>
                    </md-card-content>
                    
                  </md-card>
                  
                

                </md-grid-tile>

              </div>
            </md-grid-list>


          </div>

        </div>
        
  </div>



  <!-- Modal Para detalle-->
<div class="modal fade bd-example-modal-lg" style="color:black" id="detallePrecio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong> {{ item.nombre }}  </strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
            <div class="col-md-5">

              <h4><strong>Precio por Unidad:</strong> {{ item.precio }} bs</h4>
              <h4><strong>Alto:</strong>  {{ item.alto }} cm</h4>
              <h4><strong>Ancho:</strong>  {{ item.ancho }} cm</h4>
              <h4><strong>Descripcion:</strong>
                   {{  item.descripcion }}  
                </h4>
              <h4><strong>Cantidad Disponible:</strong> {{ item.cantidad }} Unidades </h4>

            </div>

             <div class="col-md-7">
              <img style="height:100%; width: 100%" [src]="item?.imagen">
            </div>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>


    </div>
  </div>
</div>


<!-- Modal editar Precio -->
<div class="modal fade" style="color:black" id="editarPrecio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Precio</h5>
        <button type="button" #cerrarEditarPrecio class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form>


              <div class="form-group">
                <label style="color:black" for="formGroupExampleInput">Precio por Unidad</label>
                <input #precio type="number" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el precio">
              </div>

              <div class="form-group">
                <label style="color:black" for="formGroupExampleInput">Precio Actual por unidad: {{ item.precio }} Bs</label>
              </div>

      </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="editarPrecio(precio.value)">Aceptar</button>
      </div>
    </div>
  </div>
</div>
