
<div>
  <div class="row">
      <div class="col-md-5">
        <p style="color:black">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nemo, totam eveniet dolorem possimus eius cum perspiciatis, aliquam quidem modi nobis soluta amet veritatis voluptatum laudantium aperiam assumenda minus consectetur?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi optio quia error at similique excepturi, consequuntur vel deserunt temporibus delectus neque hic fugit asperiores molestiae autem odit possimus repudiandae sunt.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nemo, totam eveniet dolorem possimus eius cum perspiciatis, aliquam quidem modi nobis soluta amet veritatis voluptatum laudantium aperiam assumenda minus consectetur?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nemo, totam eveniet dolorem possimus eius cum perspiciatis, aliquam quidem modi nobis soluta amet veritatis voluptatum laudantium aperiam assumenda minus consectetur?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nemo, totam eveniet dolorem possimus eius cum perspiciatis, aliquam quidem modi nobis soluta amet veritatis voluptatum laudantium aperiam assumenda minus consectetur?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nemo, totam eveniet dolorem possimus eius cum perspiciatis, aliquam quidem modi nobis soluta amet veritatis voluptatum laudantium aperiam assumenda minus consectetur?

        </p>
        </div>
      <div class="col-md-7">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="../../../assets/img/01.jpg" style="width:100%" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../../assets/img/02.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../../assets/img/03.jpg" alt="Third slide">
    </div>
  </div>
</div>

      </div>
  </div>
</div>
