<div class="container">
  <div class="row">
      <div class="col-md-12">

        <button class="btn btn-danger" type="button" (click)="agregarItemButton = !agregarItemButton">Agregar Item</button>
        
              <form *ngIf="agregarItemButton">
                    <div class="form-group">
                      <label style="color:black" for="formGroupExampleInput">Nombre</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nombre del Ciente">
                    </div>

                    <div class="form-group">
                      <label style="color:black" for="formGroupExampleInput">Cod Item</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nit del cliente">
                    </div>

                    <div class="form-group">
                      <label style="color:black" for="formGroupExampleInput">Alto</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nit del cliente">
                    </div>

                    <div class="form-group">
                      <label style="color:black" for="formGroupExampleInput">Ancho</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nit del cliente">
                    </div>

                    <div class="form-group">
                      <label style="color:black" for="formGroupExampleInput">Cantidad</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nit del cliente">
                    </div>
                    <div class="form-group">
                      <label style="color:black" for="formGroupExampleInput">Descripcion</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nit del cliente">
                    </div>
                    <div class="form-group">
                      <label style="color:black" for="formGroupExampleInput">Tipo ALmacen</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nit del cliente">
                    </div>
            </form>

      </div>
    </div>

    <br>
    <br>

    <div class="row">

      <div class="col-md-12">
        
        <button class="btn btn-danger" type="button" (click)="mostrarItemButton = !mostrarItemButton">Items</button>

            <md-grid-list cols="3" rowHeight="1:1" *ngIf="mostrarItemButton">


                <md-grid-tile>
                         
                          <md-card class="example-card">
                            <md-card-header>
                              <md-card-title>Ceramica Uno</md-card-title>
                            </md-card-header>
                            <img md-card-image src="../../../../assets/img/02.jpg">
                            <md-card-content>
                              <p>
                                Metro cuadrado 10 lucas
                              </p>
                            </md-card-content>
                            <md-card-actions>
                              <button md-button class="btn btn-outline-danger" data-toggle="modal" data-target="#detalle">Detalle</button>
                              <button md-button class="btn btn-outline-danger" data-toggle="modal" data-target="#agregar">Agregar</button>
                            </md-card-actions>
                          </md-card>
                        </md-grid-tile>


                </md-grid-list>

      </div>    
    </div>

</div>