<div class="container">
  <div class="row">
    <div class="col-md-12">

      <button class="btn btn-danger" type="button" (click)="agregarAlmacenButton = !agregarAlmacenButton">Agregar Almacen</button>

      <form *ngIf="agregarAlmacenButton" [formGroup]="formatoAlmacen" (ngSubmit)="guardarAlmacen()">
        <div class="form-group">
          <label style="color:black" for="formGroupExampleInput">Nombre</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nombre del Ciente" [(ngModel)]="almacen.nombre"
            name="nombre" formControlName="nombre">
        </div>



        <br>
        <button [disabled]="!formatoAlmacen.valid" type="submit" class="btn btn-danger"> Guardar Almacen </button>
        <br>

      </form>

    </div>
  </div>

  <div class="row" *ngIf="listAlmacenes.length > 0">
    <div class="col-md-12" *ngFor="let almacen  of listAlmacenes">
      <h1 style="color:black">{{ almacen.nombre | uppercase}} </h1>




      <table class="table" style="color:black" *ngIf="listAllItems.length > 0">
        <thead class="thead-inverse">
          <tr>
            <th style="color:black" class="bg-danger">Nombre Item</th>
            <th style="color:black" class="bg-danger">Precio</th>
            <th style="color:black" class="bg-danger">Cantidad</th>
            <th style="color:black" class="bg-danger">Descripcion</th>
            <th style="color:black" class="bg-danger">Mover Item</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listAllItems">
          <tr *ngIf="almacen.nombre == item.tipoAlmacen && item.borrado == false">
            <td class="table-danger"> {{ item.nombre }} </td>
            <td class="table-danger"> {{ item.precio }} </td>
            <td class="table-danger"> {{ item.cantidad }} </td>
            <td class="table-danger"> {{ item.descripcion }} </td>
            <td class="table-danger">
              <button type="button" class="btn btn-danger" data-toggle="modal" (click)="setKeyCambiarAlmacen(item.$key)" data-target="#modalCambiarAlmacen">
                    Cambiar Almacen
              </button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>


<!--<select class="form-control" type="text" name="prioridad">
                        <option *ngFor="let alm of listAlmacenes" [value]="alm._nombre"> {{ alm._nombre }} </option>                        
</select>-->


<!-- Modal Cambiar Almacen-->
<div class="modal fade" id="modalCambiarAlmacen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:black">Cambiar de Almacen </h5>
        <button type="button" #cerrarModalAlmacen class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color:black">
        <h4> {{ item.nombre | uppercase }} </h4>
        <h4> Almacen Actual: {{ item.tipoAlmacen | uppercase }} </h4>
        <h4>Cantidad disponible: {{ item.cantidad }}</h4>
        <input #cantidadPorMover class="form-control" type="number" placeholder="ingrese la cantidad">
        <!-- aumente esto para q sellecione el tipo de almacen a cambiar -->
         <h5 class="modal-title" id="exampleModalLabel" style="color:black">Cambiar a.... </h5>

        <select 
                  type="text"
                  name="tipoAlmacen" 
                  #tipoAlmacen
                  >
                    <option   *ngFor="let alm of listAlmacenes" 
                            
                        [value]="alm.nombre"> {{ alm.nombre }} 
                    </option>  
                  

            </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="guardarCambiosAlmacen(cantidadPorMover.value, tipoAlmacen.value)">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>