<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-danger my-2 my-sm-0" type="submit">Buscar Segun Nit Del Cliente</button>
            </form>

        </div>

        <div class="col-md-12">

             <table class="table" style="color:black">
                  <thead class="thead-inverse">
                    <tr >
                      <th style="color:black" class="bg-danger">#</th>
                      <th style="color:black" class="bg-danger">Cliente</th>
                      <th style="color:black" class="bg-danger">Nit Cliente</th>
                      <th style="color:black" class="bg-danger">Total</th>
                      <th style="color:black" class="bg-danger">Estado Pedido</th>
                      <th style="color:black" class="bg-danger">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="table-danger" scope="row">1</th>
                      <td class="table-danger">Mark</td>
                      <td class="table-danger">Otto</td>
                      <td class="table-danger">@mdo</td>
                      <td class="table-danger">@mdo</td>
                      <td class="table-danger">Editar/Eliminar</td>
                    </tr>
                    <tr>
                      <th class="table-danger" scope="row">2</th>
                      <td class="table-danger">Jacob</td>
                      <td class="table-danger">Thornton</td>
                      <td class="table-danger">@fat</td>
                      <td class="table-danger">@fat</td>
                      <td class="table-danger">Editar/Eliminar</td>
                    </tr>
                    <tr>
                      <th class="table-danger" scope="row">3</th>
                      <td class="table-danger">Larry</td>
                      <td class="table-danger">the Bird</td>
                      <td class="table-danger">@twitter</td>
                      <td class="table-danger">@twitter</td>
                      <td class="table-danger">Editar/Eliminar</td>
                    </tr>
                  </tbody>
                </table>
          
        </div>
    </div>
</div>