<div class="container main-container">

  <div class="row">
    <div class="col-md-12">


      <form [formGroup]="formatoCliente" (ngSubmit)="guardarPedido()">


        <div class="form-group">
          <label style="color:black" >Nombre Ciente</label>
          <input type="text" 
                  class="form-control" 
                  placeholder="Ingrese el Nombre del Ciente"
                  [(ngModel)]="cliente.nombre"
                  name="nombre"
                  formControlName="nombre"
                  >
        </div>

        <div class="form-group">
          <label style="color:black" >Nit cliente</label>
          <input type="text" 
                class="form-control" 
                placeholder="Ingrese el Nit del cliente"
                [(ngModel)]="cliente.nit"
                name="nit"
                  formControlName="nit">
        </div>

            <table class="table" *ngIf="listaItemsPedidoNuevo.length > 0">

              <thead class="thead-inverse">
                <tr>
                  <th class="bg-danger" style="color:black">#</th>
                  <th class="bg-danger" style="color:black">Nombre</th>
                  <th class="bg-danger" style="color:black">Cantidad</th>
                  <th class="bg-danger" style="color:black">Precio</th>
                  <th class="bg-danger" style="color:black">Total</th>
                  <th class="bg-danger" style="color:black">opciones</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of listaItemsPedidoNuevo; let i = index">
                  <th class="table-danger" style="color:black"  scope="row"> {{ i+1 }} </th>
                  <td class="table-danger" style="color:black" >  {{ item.nombre }}  </td>
                  <td class="table-danger" style="color:black" >  {{ cantidad }}  </td>
                  <td class="table-danger" style="color:black" >  {{ item.precio }}   bs</td>
                  <td class="table-danger" style="color:black" >  {{ item.precio * cantidad }} </td>
                  <td class="table-danger" style="color:black" >  </td>
                </tr>
              </tbody>

            </table>

            <h3 style="color:black"> Total de la compra: {{ total }} bs</h3>
            <br>
            <button type="submit" class="btn btn-danger"> Guardar Pedido </button>
            <br>
      </form>


    </div>
  </div>

<br>
  <div class="row">

    <button (click)="mostrarProductos = !mostrarProductos" class="btn btn-danger">Agregar Ceramicas</button>
    <div class="col-md-12" *ngIf="mostrarProductos && listaItems.length > 0">



      <md-grid-list cols="3" rowHeight="1:1" >



        <md-grid-tile *ngFor="let item of listaItems">
          <md-card class="example-card">
            <md-card-header>
              <md-card-title> {{ item.nombre }} </md-card-title>
            </md-card-header>
            <img md-card-image src="../../../../assets/img/02.jpg">
            <md-card-content>
              <p>
                Metro cuadrado {{ item.precio }} lucas
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button (click)="obtenerLlaveItem(item.$key)" class="btn btn-outline-danger" data-toggle="modal" data-target="#detalle">Detalle</button>
              <button md-button (click)="obtenerLlaveItem(item.$key)"  class="btn btn-outline-danger" data-toggle="modal" data-target="#agregar">Agregar</button>
            </md-card-actions>
          </md-card>
        </md-grid-tile>



 

      </md-grid-list>


    </div>


  </div>
    <div class="row" *ngIf="listaItems.length == 0 && !mostrarProductos">
        <h1>No hay datos q mostrar</h1>
    </div>

</div>

<!-- Modal Para detalle-->
<div class="modal fade bd-example-modal-lg" style="color:black" id="detalle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> {{ itemDetalle.nombre }} </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
            <div class="col-md-5">

              <h4><strong>Precio por Unidad:</strong> {{ itemDetalle.precio }} bs</h4>
              <h4><strong>Alto:</strong> {{ itemDetalle.alto }} cm</h4>
              <h4><strong>Ancho:</strong>  {{ itemDetalle.ancho }} cm</h4>
              <h4><strong>Descripcion: </strong>
                      {{ itemDetalle.descripcion }}
                </h4>
              <h4><strong>Cantidad Disponible:</strong> {{ itemDetalle.cantidad }} </h4>

            </div>

             <div class="col-md-7">
              <img style="height:100%; width: 100%" src="../../../../assets/img/01.jpg" alt="">
            </div>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>


    </div>
  </div>
</div>


<!-- Modal Agregar -->
<div class="modal fade" style="color:black" id="agregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button #cerrarAgregar type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form>


              <div class="form-group">
                <label style="color:black" for="formGroupExampleInput">Cantidad</label>
                <input type="number" class="form-control" id="formGroupExampleInput" [(ngModel)]="cantidad" name="cantidad" placeholder="Ingrese la cantidad">
              </div>

              <div class="form-group">
                <label style="color:black" for="formGroupExampleInput">Precio por unidad: {{ itemDetalle.precio }} lucas</label>
              </div>

      </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="mardarATabla()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>