<div class="container main-container">

  <div class="row">
    <div class="col-md-12">


      <form [formGroup]="formatoCliente" (ngSubmit)="guardarPedido()">


        <div class="form-group">
          <label style="color:black">Nombre Ciente</label>
          <input type="text" class="form-control" placeholder="Ingrese el Nombre del Ciente"  name="nombre"
            formControlName="nombre">
        </div>

        <div class="form-group">
          <label style="color:black">Nit cliente</label>
          <input type="text" class="form-control" placeholder="Ingrese el Nit del cliente" [(ngModel)]="saveI.getPedido().nitCliente" name="nit" formControlName="nit">
        </div>

        <table class="table">

          <thead class="thead-inverse">
            <tr>
              <th class="bg-danger" style="color:black">#</th>
              <th class="bg-danger" style="color:black">Nombre</th>
              <th class="bg-danger" style="color:black">Cantidad</th>
              <th class="bg-danger" style="color:black">Precio</th>
              <th class="bg-danger" style="color:black">Total</th>
              <th class="bg-danger" style="color:black">opciones</th>
            </tr>
          </thead>

          <tbody *ngIf="listaDespachosItems">
            <tr *ngFor="let despacho of listaDespachosItems; let i = index">
              <th class="table-danger" style="color:black" scope="row">  {{ i+1 }}   </th>
              <td class="table-danger" style="color:black"> {{ despacho.item.nombre }}  </td>
              <td class="table-danger" style="color:black"> {{ despacho.item.cantidad }} Unidades</td>
              <td class="table-danger" style="color:black"> {{ despacho.item.precio }} Bs/Unidad</td>
              <td class="table-danger" style="color:black"> {{ despacho.item.cantidad *  despacho.item.precio }} Total en Bs  </td>
              <td class="table-danger" style="color:black"> Eliminar </td>
            </tr>
          </tbody>

        </table>

        <h3 style="color:black"> Total de la compra: {{ total }} Bs</h3>
        <br>
        <button type="submit" [disabled]="!formatoCliente.valid || listaDespachosItems.length < 1" class="btn btn-danger"> Guardar Pedido </button>
        <br>
      </form>


    </div>
  </div>


<!--row para los cards-->
  <br>
  <div class="row">

    <button (click)="mostrarProductos = !mostrarProductos" class="btn btn-danger">Agregar Ceramicas</button>

    <div class="col-md-12" *ngIf="mostrarProductos && listaItems.length > 0">



      <md-grid-list cols="3" rowHeight="1:1">




              <div *ngFor="let item of listaItems">


                <md-grid-tile *ngIf="!item.borrado">

                  <md-card class="example-card" style="border: 2 black solid">
                    <md-card-header>
                      <md-card-title style="padding-top: 15px">
                        <h4 class="text-titulo-card">{{ item.nombre | uppercase }}</h4>
                      </md-card-title>
                    </md-card-header>
                    <img md-card-image style="width: 298px; height: 140px;" [src]="item.imagen">
                    <md-card-content>
                      <h6>
                        Almacen Actual: {{ item.tipoAlmacen }}
                      </h6>
                      <h6>
                        Precio Actual: {{ item.precio }} Bs/Unidad
                      </h6>
                      <p>
                        Cantidad Disponible: {{ item.cantidad }} Unidades.
                      </p>
                      <button md-button class="btn btn-outline-danger" data-toggle="modal" (click)="setDetalleKey(item.$key)" data-target="#modalDetallePedido">Detalle</button>
                      <button md-button class="btn btn-outline-danger" data-toggle="modal" (click)="setEditKey(item.$key)" data-target="#modalAgregarPedido">Agregar</button>
                    </md-card-content>

                  </md-card>



                </md-grid-tile>

              </div>




      </md-grid-list>


    </div>

  </div>


  <div class="row" *ngIf="listaItems.length == 0 && !mostrarProductos">
    <h1>No hay datos q mostrar</h1>
  </div>

</div>

<!-- Modal Para detalle-->
<div class="modal fade bd-example-modal-lg" style="color:black" id="modalDetallePedido" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> {{ item.nombre }} </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-5">

            <h4><strong>Precio por Unidad:</strong> {{ item.precio }} bs</h4>
            <h4><strong>Alto:</strong> {{ item.alto }} cm</h4>
            <h4><strong>Ancho:</strong> {{ item.ancho }} cm</h4>
            <h4><strong>Descripcion: </strong> {{ item.descripcion }}
            </h4>
            <h4><strong>Cantidad Disponible:</strong> {{ item.cantidad }} </h4>

          </div>

          <div class="col-md-7">
            <img style="height:400px; width: 400px" [src]="item?.imagen" alt="">
          </div>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>


    </div>
  </div>
</div>


<!-- Modal Agregar -->
<div class="modal fade" style="color:black" id="modalAgregarPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button #cerrarAgregar type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>


          <div class="form-group">
            <label style="color:black" for="formGroupExampleInput">Cantidad</label>
            <input #cantidadItems type="number" class="form-control" id="formGroupExampleInput"  name="cantidad" placeholder="Ingrese la cantidad">
          </div>

          <div class="form-group">
            <label style="color:black" for="formGroupExampleInput">Precio por unidad: {{ item.precio }} lucas</label>
          </div>

        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="agregarItems(cantidadItems.value)">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>