/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.main-container{
    margin-top: 55px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 150px;
}
.imagen{
    width: 200px;
    height: 200px;

}
.activado{
background-color: #ed5c5c;
}


body{
  background-color: #BDBDBD;
  color: white !important;
  
}


h1 {
font-family: 'Roboto', sans-serif;}
h2 {
font-family: 'Roboto', sans-serif;
  color: white;

}
.text-titulo-card{
font-family: 'Roboto', sans-serif;

}

.footerAux {
    background: #D32F2F;
    text-align: center;
    padding: 10px;
    
    
  position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
  
}

.example-card {
  width: 300px;
  height: 400px;
  background: white;
  color:black;
  padding-bottom: 30px;
}

.example-header-image {
  background-image: url('./assets/img/01.jpg');
  background-size: cover;
}

md-grid-tile {
  background: #EB6969;
}

.tutorial-img{

  width: 90%;
  height: 450px; 
  padding-left: 180px;

}
